<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin</title>
    <link rel="stylesheet" href="../src/css/stlye.css">
</head>
<body>
    <div class="sidebar">
        <h2>ADMIN</h2> 
        <img src="../src/assets/images/imss_logo.png" class="logoimss">
    </div>
    <div class="content">
        
        <div id="daycare-list">
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="location.href='daycare-details.php'">Guardería X</button>
                <button class="edit-button" onclick="editName(this)"><img src="../src/assets/images/edit_icon.png" class="icon"></button>
                <button class="delete-button" onclick="deleteDaycare(this)"><img src="../src/assets/images/delete_icon.png" class="icon"></button>
            </div>
            
        </div>
        <button class="report-button" onclick="">Reportes</button>
        <button class="add-button" onclick="addDaycare()">Agregar Guardería</button>
    </div>
    <script src="../src/js/menuadmin.js"></script>
</body>
</html>
