<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> | Menú Principal Admin</title>
</head>
<body>
    <header>
        <p>ADMIN</p>
        <figure>
            <img src="" alt="Logotipo Menú Admin">
        </figure>
        <figure>
            <img src="Imsslogo.png" alt="IMSS Logotipo">
        </figure>
    </header>

    <main>
        <section>
            <article>
                Guardería M1
            </article>
            <article>
                Guardería M2
            </article>
            <article>
                Guardería M3
            </article>
            <article>
                Guardería M4
            </article>
        </section>
    </main>

    <footer>
        <form action="">
            <button>Back</button>
        </form>
        <figure>
            <img src="" alt="Gobierno del Estado Logotipo">
        </figure>
        <div>
            <h3>Enlaces</h3>
            <a href="">Alerta</a>
            <a href="">Denuncia</a>
            <a href="">Inicio de Sesión</a>
            <a href="">Lista de Guarderías</a>
            <a href="">Contratos asociados</a>
        </div>

        <div></div>
            <h3>Síguenos en</h3>
            <a href="https://www.facebook.com/gobmexico">Facebook</a>>
            <a href="https://x.com/GobiernoMX">X (Twitter)</a>
        </div>

        <small>
            Instituto Mexicano del Seguro Social | Gobierno de México
        </small>
    </footer>
    
</body>
</html>