<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> | Menú Principal Admin</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="layadmin">
        <header>
            <p>ADMIN</p>
            <figure class="icon">
                <img src="./src/Sample_User_Icon.png" alt="Logotipo Menú Admin">
            </figure>
            <figure>
                <img src="./src/Imsslogo.png" alt="IMSS Logotipo">
            </figure>
        </header>

        <main>
            <section>
                <article>
                    <button>
                        Guardería M1
                    </button>
                </article>
                <article>
                    <button>
                        Guardería M2
                    </button>
                </article>
                <article>
                    <button>
                        Guardería M3
                    </button>
                </article>
                <article>
                    <button>
                        Guardería M4
                    </button>
                </article>
                <article>
                    <button>
                        Guardería M5
                    </button>
                </article>
                <article>
                    <button>
                        Guardería M6
                    </button>
                </article>
            </section>
        </main>
    </div>
</body>
</html>