<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Usuario</title>
    <link rel="stylesheet" href="../src/css/stlye.css">
</head>
<body>
    <div class="sidebar">
        <h2>USUARIO</h2> 
        <img src="../src/assets/images/imss_logo.png" class="logoimss">
    </div>
    <div class="content">
        <h1>GUARDERIA X</h1>
        
        <div id="daycare-list">
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="location.href='daycare-details.php'">DOC</button>
                <button class="edit-button" onclick="editName(this)"><img src="../src/assets/images/edit_icon.png" class="icon"></button>
            
            </div>
            
        </div>
    </div>
    <script src="../src/js/menuadmin.js"></script>
</body>
</html>
