<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./login.css">
</head>

<body>

    <img src="../../src/assets/images/imss_logo.png" id="imgIMSS">

    <div id="Login">


        <div class="container">
            <img src="../../src/assets/images/siguard.svg" alt="">
            <p>N° de Guarderia</p>
            <input></input>
            <p>Contraseña</p>
            <input></input>
            <button class="unbtn">Entrar</button>
        </div>
    </div>

</body>

</html>