<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Rincón del Sabor</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>

  
    <section id="hero">
     
        <div class="video-background">
            <video autoplay muted loop id="background-video">
                <source src="../../assets/vids/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content-overlay">
            <h1>IndieCode</h1>
            <h2>"Software Solutions"</h2>
        </div>
    </section>

  
    <section id="about">
        <h2>About Us</h2>
        <p>Somos un grupo de Ingenieros dedicados a la creacion de software hecho a la medida</p>
        <p>donde la calidad es nuestra norma, actualizandonos a las necesidades de nuestros clientes</p>
        <p>PLACE HOLDER</p>
    </section>

  
    <section id="photos">
        <h2>Nosotros</h2>
        <div class="photo-gallery">
            <img class="sound-image" src="../../assets/imgs/img1.jpg" alt="Erick">
            <img class="sound-image" src="../../assets/imgs/img2.jpg" alt="Ruben">
            <img class="sound-image" src="../../assets/imgs/img3.jpg" alt="Alberto">
        </div>
    </section>    

 
    <section id="contact">
        <h2>Contact Us</h2>
        <p>123 Calle Esquizo, Zacatecas, CP 546576</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: hoyrevivegojo@gmail.com</p>
    </section>

    <footer>
        <p>&copy; 2024 IndieCode Software Solutions. All rights reserved.</p>
    </footer>

    <script src="../js/about.js"></script>
</body>
</html>
