<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin Contratos</title>
    <link rel="stylesheet" href="../css/adguarcon.css">
</head>
<body>
    <div class="sidebar">
        <h2>ADMIN</h2> 
        <img src="../../assets/images/imss_logo.png" class="logoimss">
    </div>
    <div class="content">
        <h1>Guardería n</h1>
        <div id="daycare-list">
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="toggleDates(this)">Documento 1</button>
                <button class="edit-button" onclick="openDatePicker(this)"><img src="../../assets/images/editafecha.png" class="icon"></button>
            </div>
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="toggleDates(this)">Documento 2</button>
                <button class="edit-button" onclick="openDatePicker(this)"><img src="../../assets/images/editafecha.png" class="icon"></button>
            </div>
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="toggleDates(this)">Documento 3</button>
                <button class="edit-button" onclick="openDatePicker(this)"><img src="../../assets/images/editafecha.png" class="icon"></button>
            </div>
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="toggleDates(this)">Documento 4</button>
                <button class="edit-button" onclick="openDatePicker(this)"><img src="../../assets/images/editafecha.png" class="icon"></button>
            </div>
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="toggleDates(this)">Documento 5</button>
                <button class="edit-button" onclick="openDatePicker(this)"><img src="../../assets/images/editafecha.png" class="icon"></button>
            </div>
            
        </div>
        <button class="back-button" onclick="location.href='adminMenuPrincipal.html'">Regresar</button>
    </div>

    <!-- Modal for date selection -->
    <div id="date-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Selecciona las fechas</h2>
            <label for="start-date">Fecha inicial:</label>
            <input type="date" id="start-date">
            <br><br>
            <label for="end-date">Fecha final:</label>
            <input type="date" id="end-date">
            <br><br>
            <button onclick="saveDates()">Aceptar</button>
            <button onclick="closeModal()">Cancelar</button>
        </div>
    </div>

    <script src="/src/js/adguarcont.js"></script>
</body>
</html>
