<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin Contratos</title>
    <link rel="stylesheet" href="../css/adguarcon.css">
</head>
<body>
    <div class="sidebar">
        <h2>ADMIN</h2> 
        <img src="../../assets/images/imss_logo.png" class="logoimss">
    </div>
    <div class="content">
        <h1>Guarderia x</h1>
        <div id="daycare-list">
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="location.href='prueba.html'">Contrato 1</button>
            </div>
            <div class="daycare-item-container">
                <button class="daycare-item2" onclick="location.href='prueba.html'">Contrato 2</button>
            </div>
            <div class="daycare-item-container">
                <button class="daycare-item3" onclick="location.href='prueba.html'">Contrato 3</button>
            </div>
        </div>
        <button class="back-button" onclick="location.href='adminMenuPrincipal.html'">Regresar</button>
    </div>
    <script src="/IndieCodeV3/src/js/adguarcont.js"></script>
</body>
</html>
