<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin Contratos</title>
    <link rel="stylesheet" href="../css/gerente.css">
</head>

<body>
    <div class="sidebar">
        <h2>Usuario</h2>

        <img src="../../assets/images/imss_logo.png" class="logoimss">
    </div>
    <div class="content">
        <h1 id="tituloGuarderia">Guardería n</h1>
        <p class="contract-dates" id="fechasContrato">Contrato: De --/--/---- a --/--/----</p>
        <div id="daycare-list"></div>
        <div class="button-container">

            <button class="logout-button" onclick="window.authentication.logout()">Cerrar Sesión</button>

        </div>
    </div>

    <!-- Modal for date selection -->
    <div id="date-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Selecciona las fechas</h2>
            <label for="start-date">Fecha inicial:</label>
            <input type="date" id="start-date">
            <br><br>
            <label for="end-date">Fecha final:</label>
            <input type="date" id="end-date">
            <br><br>
            <button onclick="saveDates()">Aceptar</button>
            <button onclick="closeModal()">Cancelar</button>
        </div>
    </div>


    <script src="../js/gerente.js"></script>
    <div class="button-container"></div>

</body>

</html>