<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin</title>
    <link rel="stylesheet" href="../css/adminGuarde.css">
</head>
<body>
    <div class="sidebar">
        <h2>ADMIN</h2> 
        <img src="../../assets/images/imss_logo.png" class="logoimss">
    </div>
    <div class="content">
        <div id="daycare-list">
            <h2>Guarderia 1</h2>
            <div class="daycare-item-container">
                <button class="daycare-item" onclick="location.href='prueba.html'">Documento Anexo</button>
            </div>
        </div>
    </div>
    <script src="/src/js/menuadmin.js"></script>
</body>
</html>
