@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

body {
    
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #ffeee021;
    scrollbar-color: #0f605c #f1f1f1;
}

.sidebar {
    width: 20%;
    background-color: #0f605c;
    background: linear-gradient(60deg, #0f605c, #09988d);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    color: white;
    margin-top: 1;
    text-shadow: 1px 1px 10px black;
}
.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#daycare-list {
    max-height: 90%;
    overflow-y: auto;
    border: none; 
    margin: 0px 0;
    padding: 0.8em;
}
.daycare-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5em;
}
.back-button {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 10px black;
    position: fixed;
    bottom: 20px;
    left: 23%;
    padding: 10px 100px;
    font-size: 20px;
    background-color: #9e9e9eb4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #9e9e9e;
    transform: translateY(-5px); 
}

.daycare-item {
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    font-size: 2em;
    color: black;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-shadow: 0 5px 0.5px rgba(2, 241, 34, 0.692);
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    flex: 1;
    word-wrap: break-word; /* Permite saltos de línea si el texto es muy largo */
    white-space: normal;  /* Permite que el texto ocupe varias líneas */    
    word-break: break-word; /* Asegura que el texto se rompa si es muy largo */
}
#daycare-list h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    color: black;
    margin: 0 auto; /* Centra el título */
    text-shadow: 1px 1px 10px grey;
    padding: 0; /* Asegura que no haya padding extra */
    width: fit-content; /* Ajusta el ancho al contenido */
    margin-left: 10px; /* Reduce el margen izquierdo */
    margin-right: 10px; /* Reduce el margen derecho */
}
.daycare-item:hover {
    background-color: #ecf0f123;
    transform: translateY(-5px); 
    box-shadow: 0 8px 1px rgba(2, 241, 34, 0.548); 

}

.logoimss {
    width: 20%;
    flex: 1;
    position: fixed;
    bottom: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.content h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    color: gray;
    margin-top: 1;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.daycare-item2 {
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    font-size: 2em;
    color: black;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-shadow: 0 5px 0.5px rgba(255, 145, 0, 0.692);
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    flex: 1;
    word-wrap: break-word; /* Permite saltos de línea si el texto es muy largo */
    white-space: normal;  /* Permite que el texto ocupe varias líneas */    
    word-break: break-word; /* Asegura que el texto se rompa si es muy largo */
    width: 95%;
}
.daycare-item2:hover {
    background-color: #ecf0f123;
    transform: translateY(-5px); 
    box-shadow: 0 8px 1px rgba(255, 145, 0, 0.438); 

}
.daycare-item3 {
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    font-size: 2em;
    color: black;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-shadow: 0 5px 0.5px rgba(241, 2, 2, 0.692);
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    flex: 1;
    word-wrap: break-word; /* Permite saltos de línea si el texto es muy largo */
    white-space: normal;  /* Permite que el texto ocupe varias líneas */    
    word-break: break-word; /* Asegura que el texto se rompa si es muy largo */
    width: 95%;
}
.daycare-item3:hover {
    background-color: #ecf0f123;
    transform: translateY(-5px); 
    box-shadow: 0 8px 1px rgba(241, 2, 2, 0.527); 
}
