* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Permite que el tamaño se ajuste al borde */
  font-family: "Inter", system-ui;
  font-weight: 500;
}
/* Reset básico para asegurar que el html y body tengan el 100% de altura */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(60deg, #0f605c, #09988d);
}
#imgIMSS {
  position: absolute;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: auto;
}

#Login {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.container {
  height: 90%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 30px;
  margin-right: 10%;
}
.siguardLogo {
  height: 40%;
}
.formulario {
  width: 100%;
  list-style: none;
}
.formulario li {
  padding-bottom: 10%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario li input {
  border: none;
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 85%;
  outline: none;
  margin-top: 2%;
  padding: 3%;
  text-align: center;
}

.unbtn {
  border: none;
  border-radius: 25px;
  height: 8%;
  width: 60%;
  background-color: #0f605c;
  color: white;
}
.unbtn:hover {
  background-color: #003835;
}
