body {
    
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #ffeee021;
}

.sidebar {
    width: 20%;
    background-color: #0f605c;
    background: linear-gradient(60deg, #0f605c, #09988d);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 300%;
    color: white;
    margin-top: 1;
}

.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#daycare-list {
    overflow-y: auto;
    border: none; 
    margin: 0px 0;
}

.daycare-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 100px;
    font-size: 14px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #219150;
}

.delete-button, .edit-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
}

.delete-button:hover {
    background-color: #c0392b;
}

.edit-button {
    background-color: #3498db;
    color: white;
}

.edit-button:hover {
    background-color: #2980b9;
}

.daycare-item {
    font-family: 'Arial', sans-serif;
    padding: 1%;
    font-size: 20px;
    color: black;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-shadow: 0 5px 0.5px rgba(0, 255, 64, 0.281);
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    flex: 1;
    margin-bottom: 0.8%;
}

.daycare-item:hover {
    background-color: #ecf0f123;
}

.logoimss {
    width: 20%;
    flex: 1;
    position: fixed;
    bottom: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}
