@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

body {
    
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #ffeee021;
}

.sidebar {
    width: 20%;
    background-color: #0f605c;
    background: linear-gradient(60deg, #0f605c, #09988d);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    letter-spacing: .1rem;
    color: #ffffff;
    margin-top: 14px;
    text-shadow: 3px 3px 8px #001d1c;
}
.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#daycare-list {
    overflow: auto;
    border: none; 
    margin: 0px 0;
    max-height: 94%;
    scrollbar-width: thin;
    scrollbar-color: #09988d #ecf0f12c;
    padding: 4px 4px;
}

.daycare-item-container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding: 2px 10px 2px 2px;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 100px;
    font-size: 14px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #219150;
}

.delete-button, .edit-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button {
    background-color: #e74c3c;
    color: #ffffff;
}

.delete-button:hover {
    background-color: #c0392b;
}

.edit-button {
    background-color: #3498db;
    color: #ffffff;
}

.edit-button:hover {
    background-color: #2980b9;
}

.daycare-item {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 1%;
    font-size: 20px;
    color: black;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-shadow: 0 5px 0.5px rgba(0, 255, 64, 0.281);
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    flex: 1;
    margin-bottom: .8em;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.daycare-item:hover {
    background-color: #ecf0f12c;
    Transform: translateY(-3px);
}

.daycare-item:active {
    Transform: translateY(1px);
}

.logoimss {
    width: 18%;
    flex: 1;
    position: fixed;
    bottom: 50px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.iconedit{
    width: 36px;
    background-size: cover;
    cursor: pointer;
    opacity: 0.88;
    transition: transform 0.3s ease, opacity 0.2s ease;
}
.icondelete{
    width: 34px;;
    background-size: cover;
    cursor: pointer;
    opacity: 0.84;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.icondelete:hover{
    Transform: translateY(-2px);
    opacity: 0.5;
}

.icondelete:active{
    Transform: translateY(1px);
    opacity: 1;
}

.iconedit:hover{
    Transform: translateY(-2px);
    opacity: 0.5;
}

.iconedit:active{
    Transform: translateY(1px);
    opacity: 1;
}