@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

body {
    
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #ffeee021;
    scrollbar-color: #09988d #f1f1f100;
}

.sidebar {
    width: 20%;
    background-color: #0f605c;
    background: linear-gradient(60deg, #0f605c, #09988d);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    color: white;
    margin-top: 1;
    text-shadow: 1px 1px 10px black;
}
.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#daycare-list {
    max-height: 90%;
    overflow-y: auto;
    border: none; 
    margin: 0px 0;
    padding: 0.8em;
}
.daycare-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5em;
}
.add-button {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 10px black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 100px;
    font-size: 20px;
    background-color: #27ae5fcc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #27ae60;
    transform: translateY(-5px); 
}

.report-button {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 10px black;
    position: fixed;
    bottom: 20px;
    left: 23%;
    padding: 10px 100px;
    font-size: 20px;
    background-color: #1b75b1b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-button:hover {
    background-color: #1b75b1ce;
    transform: translateY(-5px); 
}
.delete-button, .edit-button {
    padding: 15px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button {
    background-color: #e74d3c00;
    opacity: 0.5;
}

.delete-button:hover {
    background-color: #ecf0f100;
    transform: translateY(-5px); 
    opacity: 1;
}

.edit-button {
    background-color: #3498db00;
    opacity: 0.5;
}

.edit-button:hover {
    background-color: #297fb900;
    transform: translateY(-5px); 
    opacity: 1;
}

.daycare-item {
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    font-size: 2em;
    color: black;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    box-shadow: 0 5px 0.5px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    flex: 1;
    
    
}

.daycare-item:hover {
    background-color: #ecf0f123;
    transform: translateY(-5px); 
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.1); 

}

.logoimss {
    width: 20%;
    flex: 1;
    position: fixed;
    bottom: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}
.icon{
    width: 40px;
    cursor: pointer;
}

.content h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    color: black;
    margin-top: 1;
    text-shadow: 1px 1px 10px grey;
}
.back-button {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 10px black;
    position: fixed;
    bottom: 20px;
    left: 23%;
    padding: 10px 100px;
    font-size: 20px;
    background-color: #9e9e9eb4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #9e9e9e;
}